<div id="fader">
  <div class="image_holder">
    <img src="<%= asset_path "homepageanimation/ps_home_image1.jpg" %>">
  </div>
  <div class="image_holder visible">
    <img src="<%= asset_path "homepageanimation/ps_home_image2.jpg" %>">
  </div>
  <div class="image_holder">
    <img src="<%= asset_path "homepageanimation/ps_home_image3.jpg" %>">
  </div>
  <div class="image_holder">
    <img src="<%= asset_path "homepageanimation/ps_home_image4.jpg" %>">
  </div>
  <div class="image_holder">
    <img src="<%= asset_path "homepageanimation/ps_home_image5.jpg" %>">
  </div>
  <div class="image_holder">
    <img src="<%= asset_path "homepageanimation/ps_home_image6.jpg" %>">
  </div>
</div>