<div id="siteInfo">
  <div class="siteinfo">
    <table width="584" border="0" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
          <td align="center">
            <p>
              <a href="/about">
                <%= I18n.t "foot.link.about_us" %>
              </a> | 
              <a href="/programs">
                <%= I18n.t "foot.link.programs" %>
              </a> | 
              <a href="/ways_to_give">
                <%= I18n.t "foot.link.ways_to_give" %>
              </a> | 
              <a href="/events">
                <%= I18n.t "foot.link.events" %>
              </a> | 
              <a href="/volunteer">
                <%= I18n.t "foot.link.volunteer" %>
              </a> | 
              <a href="/news">
                <%= I18n.t "foot.link.news_and_press" %>
              </a> |
              <a href="/gallery">
                <%= I18n.t "foot.link.photos" %>
              </a> |
              <a href="/store">
                <%= I18n.t "foot.link.shop" %>
              </a> |
              <a href="/contact">
                <%= I18n.t "foot.link.contact_us" %> 
              </a><br>
              <%= raw(I18n.t "foot.copyright") %><br>
              <%= raw(I18n.t "foot.link.financial_information") %>
            </p> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>