<table class="header" cols="2" cellpadding="0" cellspacing="0">
  <tbody>
    <tr class="header_buttons">
      <td class="logo">
        <a href="/"></a>
      </td>
      <td>
        <div class="inline" id="mastheadLinks">
          <div class="masthead inline">
            <a href="/"><%= I18n.t "head.link.home" %></a> | 
            <a href="/about"><%= I18n.t "head.link.about" %></a> | 
            <a href="/contact"><%= I18n.t "head.link.contact" %></a>
          </div>
        </div>
        <div class="inline" id="mastheadImages">	
          <a class="social_icon facebook" href="<%= I18n.t "head.link.facebook" %>" target="_blank"></a>
          <a class="social_icon twitter" href="<%= I18n.t "head.link.twitter" %>" target="_blank"></a>
          <a class="social_icon linkedin" href="<%= I18n.t "head.link.linkedin" %>" target="_blank"></a>
        </div>
        <div id="mastheadForm">
          <%= render :partial => "layouts/signup" %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="header_underline">&nbsp;</td>
    </tr>
  </tbody>
</table>