<table class="menu" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td class="colored">
        <img src="<%= asset_path "place.gif" %>" width="10" height="15">
      </td>
    </tr>
    <tr>
      <td>
        <a href="/about"><img src="<%= asset_path "menu-aboutus.gif" %>" width="176" height="28" border="0"></a>
      </td>
    </tr>
    <tr>
      <td class="colored">
        <img src="<%= asset_path "place.gif" %>" width="10" height="15">
      </td>
    </tr>
    <tr>
      <td>
        <a href="/programs"><img src="<%= asset_path "menu-programs.gif" %>" width="176" height="40" border="0"></a>
      </td>
    </tr>
    <tr>
      <td class="colored"><img src="<%= asset_path "place.gif" %>" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="/ways_to_give"><img src="<%= asset_path "menu-waystogive.gif" %>" width="176" height="32" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="<%= asset_path "place.gif" %>" width="10" height="12"></td>
    </tr>
    <tr>
      <td><a href="/events"><img src="<%= asset_path "menu-events.gif" %>" width="176" height="39" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="<%= asset_path "place.gif" %>" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="/volunteer"><img src="<%= asset_path "menu-volunteer.gif" %>" width="176" height="28" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="<%= asset_path "place.gif" %>" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="/news"><img src="<%= asset_path "menu-press.gif" %>" width="176" height="32" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="<%= asset_path "place.gif" %>" width="10" height="15"></td>
    </tr>
    <tr>
      <td><a href="/gallery"><img src="<%= asset_path "menu-photos.gif" %>" width="176" height="32" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="<%= asset_path "place.gif" %>" width="10" height="10"></td>
    </tr>
    <tr>
      <td class="colored"><a href="/store"><img src="<%= asset_path "menu-shop.gif" %>" width="176" height="46" border="0"></a></td>
    </tr>
    <tr>
      <td class="colored"><img src="<%= asset_path "place.gif" %>" width="10" height="10"></td>
    </tr>
    <tr>
      <td class="colored">
        <center>
          <img src="<%= asset_path "seal.gif" %>">
        </center>
      </td>
      
    </tr>
  </tbody>
</table>