<!DOCTYPE html>
<html>
<head>
	<%= render :file => "layouts/_metadata" %>
	<title><%= I18n.t "head.title" %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>
<body>
	<div id="header"><%= render :partial => "layouts/header" %></div>
	<div id="main">
		<%= render :partial => "layouts/menu" %>
		<%= yield %>
	</div>
	<div id="footer"><%= render :partial => "layouts/footer" %></div>
	<%= yield(:script) %>
	</body>
	</html>
